.turnoDia{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D5D5;
    flex-wrap: wrap;
}

.margin0-10{
    margin: 0 10px;
}

.classAlturaDefinida{
    min-height: 60vh !important;
}

.turnoDia *{
    margin: 20px;
}

.widthp{
    width: 140px !important;
    margin: 0 !important;
}

.tituloDiaSemana,div.form-switch{
    font-size: 25px;
}

.selectsTurnos{
    width: 150px;
}

.tituloSelectTurno{
    font-size: 18px;
}

.selectCambiarTurno{
    width: 70%;
}


@media (max-width: 350px) {
    .selectCambiarTurno{
        font-size: 10px!important;
    }
}

.sectionCambiarTurno{
    background-color: #D3D5D5;
    border: 3px solid black;
    border-radius: 30px;
    padding: 30px 10px;
    min-height: auto!important;
    margin-bottom: 30px;
}

.tituloCambiarTurno{
    text-align: center;
    margin: 30px;
}

.anyadirTurnoBoton:hover{
    cursor: pointer;
	color: #51CEF4;
	background-color: white;
}

.anyadirTurnoBoton{
    border-radius: 20px;
	background-color: #00b1ff;
    border: 1px solid #00b1ff;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	text-decoration: none;
    text-align: center;
    min-width: 80px;
}

.botonAnyadirTurnoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectsTurnos{
    width: 130px;
}
