@media (max-width:600px) {
    .classFlexBotones{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    } 
}