.divFlexBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.text-centrado{
    text-align: center;
    margin: auto;
}

.desc-Titulo{
    text-align: center;
    margin: 10px 0;
}