.contenedorTurnoTabla{
    padding: 20px !important;
}

.contenedorBotonesTurnoTabla *{
    width: 140px;
}

.botonTurnos{
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #000000;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding: 20px 10px;
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
}

.botonTurnos:hover{
    cursor: pointer;
	color: #51CEF4;
	background-color: white;
}