.contenedorCalendario{
    padding: 5%;
}

.contenedorCalendario *{
    text-decoration: none;
}

.contenedorCalendario a{
    font-size: 15px;
}

a.fc-col-header-cell-cushion{
    color: #484242;
    font-weight: bold;
}

.contenedorCalendario a.fc-daygrid-day-number{
    color: black;
    font-size: 18px;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #B8E7F6!important;
}