.contenedorVerAusenciasGenerales h1{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

.verHorarioClienteVolver{
    margin-bottom: 150px;
}

.divFlexTurnoSelEmpleado{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.margin10{
    margin: 10px;
}
