.sectionParaFichar{
    padding: 30px;
    border: 3px solid black;
    width: 60%;
    margin: auto;
}

.botonGrandeFichar{
    display: inline-block;
    margin: auto;
    padding: 20px !important;
    font-size: 35px !important;
}

.sectionParaFichar {
    padding: 30px;
    border: 3px solid black;
    width: 80%;
    margin: auto;
}

@media (max-width: 1100px) {
    .sectionParaFichar{
        width: 80%;
    }
}

@media (max-width: 650px) {
    .sectionParaFichar{
        width: 100%;
    }
}

.contenedorSectionParaFichar{
    margin: 30px;
}

.sectionParaFichar div article * {
    margin: 20px;
}

.Fecha p{
    text-align: center;
    font-size: 24px;
}

.horas p span{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.horas p {
    font-size: 24px;
    margin: 10px;
}

.horas div h1{
    font-size: 30px;
}

.horas div.jornadaPrevista{
    border: 3px solid black;
    background-color: #51CEF4;
}

.botonParaFichar a{
    padding: 10px;
}

.horas div p{
    margin: 0;
}

.sectionFormMarginBottomFichar{
    margin-bottom: 100px!important;
}

.divFlexFichar *{
    margin: 0 20px;
}

@media (max-width: 450px) {
    .sectionParaFichar{
        margin: 0;
        padding: 0;
    }

    .sectionParaFichar div{
        margin: 10px;
    }

    .horas{
        margin: 0;
        padding: 0;
    }
}

.horas2{
    background-color: #B8E7F6 !important;
    padding: 10px;
}