.sectionParaFichar{
    padding: 30px;
    border: 3px solid black;
    width: 60%;
    margin: auto;
}

.sectionParaFichar {
    padding: 30px;
    border: 3px solid black;
    width: 80%;
    margin: auto;
}

@media (max-width: 1100px) {
    .sectionParaFichar{
        width: 80%;
    }
}

@media (max-width: 650px) {
    .sectionParaFichar{
        width: 100%;
    }
}

.contenedorSectionParaFichar{
    margin: 30px;
}

.sectionParaFichar * {
    margin: 20px;
}

.Fecha p{
    text-align: center;
    font-size: 28px;
}

.horas p span{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.horas p {
    font-size: 16px;
}

.horas div h1{
    font-size: 22px;
}

.horas div{
    border: 3px solid black;
    background-color: #B8E7F6;
    padding: 20px;
}

.botonParaFichar a{
    padding: 10px;
}

.horas div p{
    margin: 0;
}

.sectionFormMarginBottomFichar{
    margin-bottom: 100px!important;
}

@media (max-width: 450px) {
    .sectionParaFichar{
        margin: 0;
        padding: 0;
    }

    .sectionParaFichar div{
        margin: 10px;
    }

    .horas{
        margin: 0;
        padding: 0;
    }
}