.calendario button{
    padding: 10px;
    background-color: #B8E7F6;
}

.calendario button:hover{
    background-color: #51CEF4;
    font-weight: bolder;
}

.calendario{
    margin: 50px;
}

.calendario div.react-calendar__month-view__weekdays__weekday{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.calendario div.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
}

.calendario div.react-calendar__navigation{
    text-align: end;
}