.contenedorFormularioCrearCorreo{
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

.contenedorFormularioCrearCorreo h1{
    text-align: center;
}

.contenedorFormularioCrearCorreo label{
    font-size: 18px;
}

.divContenedorFormCrearCorreo{
    background-color: #D3D5D5;
}

.textAreaPequenyo{
    width: 700px!important;
}

.enviarCorreoBoton{
    border-radius: 20px;
	background-color: #FF4B2B;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	text-decoration: none;
    text-align: center;
    min-width: 80px;
}

.enviarCorreoBoton:hover{
    cursor: pointer;
	color: #51CEF4;
	background-color: white;
    border: 1px solid #FF4B2B;
}

.contenedorLinkEnviarCorreo{
    margin: 20px;
    display: flex;
    justify-content: center;
}