.botonPaginacion {
	border-radius: 20px;
	border: 1px solid #00b1ff;
	background-color: #00b1ff;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	text-decoration: none;
    margin: 10px 10px;
}

.botonPaginacionPuntos {
	cursor: auto !important;
	border-radius: 20px;
	border: 1px solid #00b1ff;
	background-color: #00b1ff;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	text-decoration: none;
    margin: 10px 10px;
}


.botonPaginacion:hover, .botonSeleccionado {    
    cursor: pointer;
    color: #51CEF4;
    background-color: white;
}

.botonesPaginacion{
    margin: 10px auto;
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
  