.contenedorBotonModificarTurno{
    text-align: center;
}

.ContenedorFechasTurno{
    text-align: center;
}

.ContenedorFechasTurno h5{
    margin: 15px;
}

.tablaMargin{
    margin: 0 20px 0 0 !important;
}

@media (max-width:900px) {
    .tablaMediaQuery{
        overflow: scroll;
    }
}