#copyright{padding:30px 0;}
#copyright *{margin:0; padding:0;}

.ContenedorCopyright{
    background-color: #51CEF4;
    text-align: center;
}

p.fl_left{
    font-size: 13px;
}

p.fl_right{
    font-size: 13px;
}