.contenedorDescripcionCrearTurno{
    background-color: #D3D5D5;
    margin: 30px;
    text-align: center;
}

.contenedorDescripcionCrearTurno label{
    font-size: 18px;
}

.contenedorDescripcionCrearTurno input.inputDesc{
    margin: auto;
    width: 50%;
}

.margin0-20{
    margin: 0 20px;
}