.contenedorCorreoSeleccionado{
    margin: 30px;
    padding: 30px;
    background-color: #D3D5D5;
    border: 2px solid black;
    border-radius: 30px;
}

.contenedorCorreoSeleccionado h1{
    text-align: center;
    font-size: 50px;
}

.contenedorCorreoSeleccionado *{
    margin: 20px;
}

.contenedorCorreoSeleccionado h3{
    font-size: 20px;
}

.contenedorCorreoSeleccionado h4{
    margin: 0;
    text-align: end;
    font-size: 17px;
}

.contenedorCorreoSeleccionado h5{
    margin: 0;
    font-size: 17px;
}

.contenedorCorreoSeleccionado div{
    display: flex;
    justify-content: space-evenly;
}

.contenedorCorreoSeleccionado p{
    font-size: 20px;
}

.Activo{
    font-weight: bold;
    font-size: 17px;
    color: lightseagreen;
}

.Acabado{
    font-weight: bold;
    font-size: 17px;
    color: red;
}

.contenedorBotonVolver{
    text-align: center;
}